@model Shop.Models.ManageViewModels.IndexSellerViewModel
@{
    ViewData["Title"] = "Thông tin cá nhân";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<div class="page-container pt-10 pb-40">
    <div class="container width-100">
        <section class="sign-area panel p-40 mr-10">
            <h3 class="pb-20 text-center">@ViewData["Title"]</h3>
            @Html.Partial("_StatusMessage", Model.StatusMessage)
            <div class="row">
                <div>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.Name"></label>
                            <input class="form-control input-lg" placeholder="Nhập tên" asp-for="@Model.Name" disabled>
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            @if (Model.IsEmailConfirmed)
                            {
                                <div class="input-group">
                                    <input asp-for="Email" class="form-control" disabled />
                                    <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                </div>
                            }
                            else
                            {
                                <input asp-for="Email" class="form-control" readonly />
                                <button asp-action="SendVerificationEmail" class="btn btn-link">
                                    Gửi email xác nhận
                                </button>
                            }
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description"></label>
                            <input class="form-control input-lg" placeholder="Mô Tả" asp-for="@Model.Description">
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Street"></label>
                            <input class="form-control input-lg" placeholder="Tên đường" asp-for="@Model.Street">
                            <span asp-validation-for="@Model.Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.City"></label>
                            <input class="form-control input-lg" placeholder="Thành phố" asp-for="@Model.City">
                            <span asp-validation-for="@Model.City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Postcode"></label>
                            <input class="form-control input-lg" placeholder="Postcode" asp-for="@Model.Postcode">
                            <span asp-validation-for="@Model.Postcode" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Cập nhật dữ liệu</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

