@model Shop.Models.AdminViewModels.ItemsOverviewViewModel

@{
    ViewData["Title"] = "Tổng quan mặt hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    @if (Model.AllItemsSortedById == null || !Model.AllItemsSortedById.Any())
    {
        <h1 class="text-center mtb-40">Hiện tại không có biên lai trong hệ thống!</h1>
        <a asp-controller="Admin" asp-action="AddItems"><h3 class="text-center">Thêm biên lai thủ công.</h3></a>
    }
    else
    {
        <div class="text-center">
            <h1><i class="fas fa-search"></i> Tìm kiếm theo tên</h1>
            <input onkeyup="searchInTableFunction()" type="text" class="ggg max-width-500px" id="searchInTableTextField" placeholder="Nhập tên của biên lai hoặc người bán">
        </div>
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Biên lai trên 3BrosShop
                </div>
                <div>
                    <table class="table" id="tableToSearch">
                        <thead>
                            <tr>
                                <th>Tên mặt hàng</th>
                                <th>Tên người bán</th>
                                <th>Thành phố</th>
                                <th>Số lượng đã bán</th>
                                <th>Chi tiét</th>
                            </tr>
                        </thead>
                        @foreach (var items in Model.AllItemsSortedById)
                        {
                            <tbody>
                                <tr>
                                    <td>@items.ItemsName</td>
                                    <td>@items.Name</td>
                                    <td>@items.Ciy</td>
                                    <td>@items.NumberOfItemsInSystem</td>
                                    <td><a asp-controller="Admin" asp-action="ItemsEdit" asp-route-id="@items.Id"><i class="fas fas fa-ellipsis-h"></i></a></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</section>