@model Shop.Models.AdminViewModels.ItemsOverviewViewModel

@{
    ViewData["Title"] = "Các mặt hàng được cung cấp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    @if (Model.AllItemsSortedById == null || !Model.AllItemsSortedById.Any())
    {
        <h1 class="force-whiteColor text-center mtb-40">hiện tại không có mặt hàng quà tặng nào được đặt làm ưu đãi!</h1>
        <br>
        <a asp-controller="Admin" asp-action="SellerOverview"><h3 class="force-whiteColor text-center">
         Nếu bạn muốn thêm biên lai vào tab phiếu mua hàng, bạn có thể tìm kiếm ở đây và đặt loại phiếu mua hàng thành "tiêu chuẩn" hoặc "thanh trượt". Nếu bạn chọn thanh trượt, nó sẽ ở trên trang chủ cũng như trên tab ưu đãi.
    <a href="~/Views/Admin/Index.cshtml">~/Views/Admin/Index.cshtml</a></h3>
</a>
    }
    else
    {
        <a asp-controller="Admin" asp-action="SellerOverview"><h3 class="force-whiteColor text-center"> Nếu bạn muốn thêm biên lai vào tab phiếu mua hàng, bạn có thể tìm kiếm ở đây và đặt loại phiếu mua hàng thành "tiêu chuẩn" hoặc "thanh trượt". Nếu bạn chọn thanh trượt, nó sẽ ở trên trang chủ cũng như trên tab ưu đãi.</h3></a>
        <br>
        <h3 class="force-whiteColor text-center">Nếu bạn muốn xóa biên lai khỏi tab phiếu mua hàng, hãy đặt loại phiếu mua hàng thành "không" thông qua trang chi tiết.</h3>
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ưu đãi trên 3BrosShop
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tên người bán</th>
                                <th>Tên trên biên lai</th>
                                <th>Thành phố</th>
                                <th>Số lượng đã bán</th>
                                <th>Chi tiết</th>
                            </tr>
                        </thead>
                        @foreach (var items in Model.AllItemsSortedById)
                        {
                            <tbody>
                                <tr>
                                    <td>@items.Name</td>
                                    <td>@items.ItemsName</td>
                                    <td>@items.Ciy</td>
                                    <td>@items.NumberOfItemsInSystem</td>
                                    <td><a asp-controller="Admin" asp-action="ItemsEdit" asp-route-id="@items.Id"><i class="fas fas fa-ellipsis-h"></i></a></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <div class="pagination-section prl-30 ptb-30"></div>
            </div>
        </div>
    }
</section>

<script>
    jQuery(function ($) {
        // determine all items by counting TRs
        var items = $("table tbody tr");

        var aantItems = items.length;
        var perPagina = 10;

        // only show the first x (perPage)
        items.slice(perPagina).hide();

        // paste pagination into div
        $(".pagination-section").pagination({
            items: aantItems,
            itemsOnPage: perPagina,
            // default theme da ok cooperates with bootstrap
            cssStyle: "light-theme",

            // page click
            onPageClick: function (pageNumber) {
                // determine from where to where
                var showFrom = perPagina * (pageNumber - 1);
                var showTo = showFrom + perPagina;

                // everything hiden
                items.hide()
                    // show back the one you must show
                    .slice(showFrom, showTo).show();
            }
        });
    });
</script>