@model Shop.Models.AdminViewModels.SellerOverviewViewModel

@{
    ViewData["Title"] = "Tổng quan về người bán";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    @if (Model.AllSellerSortedOpId == null || !Model.AllSellerSortedOpId.Any())
    {
        <h1 class="text-center mtb-40">Hiện tại người dùng không có trong hệ thống!</h1>
        <a asp-controller="Admin" asp-action="SellerAdd"><h3 class="text-center">Thêm người bán thủ công.</h3></a>
    }
    else
    {
        <div class="text-center">
            <h1><i class="fas fa-search"></i> Tìm kiếm theo tên</h1>
            <input onkeyup="searchInTableFunction()" type="text" class="ggg max-width-500px" id="searchInTableTextField" placeholder="Nhập tên người bán">
        </div>
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bán hàng trên 3Bros Shop
                </div>
                <div>
                    <table class="table" id="tableToSearch">
                        <thead>
                            <tr>
                                <th>Tên người bán</th>
                                <th>Postcode</th>
                                <th>Thành phố</th>
                                <th>Số hóa đơn</th>
                                <th>Chi tiết</th>
                            </tr>
                        </thead>
                        @foreach (var handelaar in Model.AllSellerSortedOpId)
                        {
                            <tbody>
                                <tr>
                                    <td>@handelaar.Name</td>
                                    <td>@handelaar.Postcode</td>
                                    <td>@handelaar.City</td>
                                    <td>@handelaar.NumberofReceiptinSystem</td>
                                    <td><a asp-controller="Admin" asp-action="SellerEdit" asp-route-id="@handelaar.Id"><i class="fas fas fa-ellipsis-h"></i></a></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</section>
