@model Shop.Models.AdminViewModels.OverviewUsedOrderViewModel
@{
    ViewData["Title"] = "Biên lai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    @if (Model.UsedOrderList == null || !Model.UsedOrderList.Any())
    {
    <h1 class="text-center mtb-40 color-white">Hiện tại không có biên lai!</h1>
    }
    else
    {
        <div class="text-center">
            <h1><i class="fas fa-search"></i> Tìm kiếm theo tên</h1>
            <input onkeyup="searchInTableFunction()" type="text" class="ggg max-width-500px" id="searchInTableTextField" placeholder="Nhập tên hóa đơn">
        </div>
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Biên lai
                </div>
                <div>
                    <table class="table" id="tableToSearch">
                        <thead>
                            <tr>
                                <th>NGÀY</th>
                                <th>BIÊN LAI</th>
                                <th>SỐ TIỀN</th>
                                <th>TÌNH TRẠNG</th>
                                <th>CHI TIẾT</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var receipt in Model.UsedOrderList)
                            {
                                <tr>
                                    <th scope="row">@receipt.Date</th>
                                    <td>
                                        @receipt.Name
                                    </td>
                                    <td>
                                        <h5>&euro; @receipt.Amount</h5>
                                    </td>
                                    <td>
                                        <span class="label @receipt.StatusClass">@receipt.Status</span>
                                    </td>
                                    <td><a asp-controller="Admin" asp-action="SoldReceiptView" asp-route-id="@receipt.Id"><i class="fas fas fa-ellipsis-h"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</section>