@model Shop.Models.ShoppingCartViewModels.CreateOrderViewModel

@using Shop.Models.Domain
@using Shop.Models.Domain.Interface
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserRepository UserRepository

@{
    ViewData["Title"] = "Tạo biên lai";
    Order order = (Order)ViewData["Order"];
    IList<OrderItem> orderItems = ((ICollection<OrderItem>)ViewData["OrderItem"]).ToList();
    int index = (int)ViewData["Index"];

    var user = await UserManager.GetUserAsync(User);
}

<main id="mainContent" class="main-content">
    <div class="page-container ptb-60">
        <div class="container">
            <div class="row row-rl-10 row-tb-20">
                <div class="page-content col-xs-12 col-sm-8 col-md-9">
                    <section class="section checkout-area panel prl-30 pt-20 pb-40">
                        <h2 class="h2 mb-20 h-title">
                            Biên lai
                            <br>
                            @(index + 1)/@orderItems.Count: @orderItems[index].Receipt.Name - @orderItems[index].Price vnđ
                        </h2>
                        <form asp-controller="Checkout" asp-action="CreateReceipt" asp-route-index="@index" class="mb-30">
                            @if (SignInManager.IsSignedIn(User) && UserRepository.GetBy(user.Email) != null)
                            {
                                <div class="form-group">
                                    <label asp-for="Name">Uw name</label>
                                    <input type="text" class="form-control" placeholder="Tên" asp-for="Name" value="@UserRepository.GetBy(user.Email).FullName()">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Email">Uw e-mailadres</label>
                                    <input type="text" class="form-control" placeholder="Email" asp-for="Email" value="@UserRepository.GetBy(user.Email).EmailAddress">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label asp-for="Name">Tên</label>
                                    <input type="text" class="form-control" placeholder="Tên" asp-for="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <input type="text" class="form-control" placeholder="Email của bạn" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            }

                            <div class="form-group">
                                <label asp-for="NameReciever">Tên người nhận <span class="color-mid"></span></label>
                                <input type="text" class="form-control" placeholder="Tên người nhận" asp-for="NameReciever">
                                <span asp-validation-for="NameReciever" class="text-danger"></span>
                            </div>

                            <div class="custom-checkbox mb-20">
                                <input type="checkbox" id="ontvangerToevoegen">
                                <label class="color-mid" for="ontvangerToevoegen">Gửi biên nhận</label>
                            </div>

                            <div id="receiver" class="collapse">
                                <div class="form-group">
                                    <label asp-for="EmailReciever">Email người nhận <span class="color-mid"></span></label>
                                    <input type="text" class="form-control" placeholder="Email người nhận" asp-for="EmailReciever">
                                    <span asp-validation-for="EmailReciever" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Message">Tin nhắn<span class="color-mid"></span></label>
                                    <textarea rows="4" type="text" class="form-control" placeholder="Nhắn gửi" asp-for="Message"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                            </div>  

                            @if (index == 0)
                            {
                                <a asp-controller="ShoppingCart" asp-action="Checkout" class="btn btn-lg btn-warning btn-rounded mt-20">Hủy bỏ</a>
                            }
                            else
                            {
                                <a asp-controller="Checkout" asp-action="CreateReceipt" asp-route-index="@(index - 1)" class="btn btn-lg btn-rounded ml-5 mt-20"><i class="fas fa-arrow-left"></i> Tạo biên lai</a>
                            }

                            @if ((index + 1) == orderItems.Count)
                            {
                                <button type="submit" class="btn btn-lg btn-rounded ml-5 mt-20">Tiếp tục thanh toán</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-lg btn-rounded ml-5 mt-20">hóa đơn tiếp theo<i class="fas fa-arrow-right"></i></button>
                            }
                        </form>
                    </section>

                </div>

                <div class="page-sidebar col-xs-12 col-sm-4 col-md-3">
                    <aside class="sidebar blog-sidebar">
                        <div class="row row-tb-10">
                            <div class="col-xs-12">
                                <div class="widget checkout-widget panel p-20">
                                    <div class="widget-body">
                                        <table class="table mb-15">
                                            <tbody>
                                                <tr>
                                                    <td class="color-mid">Số biên lai:</td>
                                                    <td>@order.Orders.Count</td>
                                                </tr>
                                                <tr class="font-15">
                                                    <td class="color-mid">Tổng tiền:</td>
                                                    <td class="color-blue">@($"{order.BillTotal:N2} vnđ")</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a asp-controller="ShoppingCart" asp-action="Index" class="btn btn-info btn-block btn-sm">Chỉnh sửa giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $('#ontvangerToevoegen').change(function () {
        $('#receiver').collapse("toggle");
    });
</script>