@model Shop.Models.HomeViewModels.DetailViewModel;

@{

    ViewData["Title"] = @Model.Name;
    if (ViewData["Navbar"] == null || (string)ViewData["Navbar"] == "")
    {
        ViewData["Navbar"] = "Search";
    }
}

<main id="mainContent" class="main-content">
    <div class="page-container ptb-60">
        <div class="container">
            <div class="row row-rl-10 row-tb-20">
                <div class="page-content col-xs-12 col-sm-7 col-md-8">
                    <div class="row row-tb-20">
                        <div class="col-xs-12">
                            <div class="deal-deatails panel">
                                <div class="deal-slider">
                                    <div id="product_slider" class="flexslider">
                                        <ul class="slides">
                                            @foreach (string path in Model.getImagePathList)
                                            {

                                                <li>
                                                    <img class="detail-groot " src="~/@path">
                                                </li>
                                            }
                                            <li>
                                                <img class="thumb-detail detail-groot" src="~/images/voorbeeld/voorbeeld.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="product_slider_nav" class="flexslider flexslider-nav">
                                        <ul class="slides">
                                            @foreach (string path in Model.getImagePathList)
                                            {

                                                <li>
                                                    <img class="thumb-detail detail-klein" src="~/@path">
                                                </li>
                                            }
                                            <li>
                                                <img class="thumb-detail" src="~/images/voorbeeld/voorbeeld.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="deal-body p-20">
                                    <h3 class="mb-10">@Model.Name</h3>
                                    <div class="rating mb-10">
                                    </div>

                                    <p class="mb-15">@Model.Description</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-sidebar col-md-4 col-sm-5 col-xs-12">
                    <aside class="sidebar blog-sidebar">
                        <div class="row row-tb-10">
                            <div class="col-xs-12">
                                <div class="widget single-deal-widget panel ptb-30 prl-20">
                                    <div class="widget-body text-center">
                                        <h2 class="mb-20 h3">
                                            @Model.SellerName
                                        </h2>
                                        <ul class="deal-meta list-inline mb-10 color-mid">
                                            <li class="color-muted"><i class="ico fab fa-periscope mr-5"></i>@Model.City</li>
                                            <li class="color-muted"><i class="ico lnr lnr-users mr-5"></i>@Model.QuantityOrdered người đặt hàng</li>
                                        </ul>
                                        <p class="color-muted">
                                            @Model.SellerDescription
                                        </p>
                                        <div class="DynamicAddCartRegionCart height-150px" style="display: none;" id="@(Model.ItemsId.ToString() + "card")">
                                            <form name="WinkelmandjeAdder" onsubmit='return AddToShoppingCartBasket(@Model.ItemsId, "@Model.GetThumbPath.Replace("\\","\\\\")", "@Model.Name");'>
                                                <div class="PopupAddToCart-line">
                                                    <div class="col-xs-4 no-padding">
                                                        <label class="float-left ">Giá:</label>
                                                    </div>
                                                    <div class="col-xs-offset-1 col-xs-7 no-padding">
                                                        <input required id="@(Model.ItemsId.ToString() + "PriceField")" class="form-control winkelmand-register-enter" type="number" step="0.01" value="@(Model.Price.ToString().Replace(",","."))" readonly>
                                                    </div>
                                                </div>
                                                <div class="PopupAddToCart-line">
                                                    <div class="col-xs-4 no-padding">
                                                        <label class="float-left">Số lượng:</label>
                                                    </div>
                                                    <div class="col-xs-offset-1 col-xs-7 no-padding">
                                                        <input required id="@(Model.ItemsId.ToString() + "QuantityField")" class="form-control winkelmand-register-enter" type="number" min="1" max="100" value="1">
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 showcode no-padding">
                                                    <a onclick="DynamicAddCartRegion(@Model.ItemsId);" class="btn btn-sm btn-block" id="@(Model.ItemsId.ToString() + "TerugKnop")">
                                                        trở lại
                                                    </a>
                                                </div>
                                                <div class="col-xs-offset-1 col-xs-7 showcode no-padding">
                                                    <input name="Submit" type="submit" value="Bevestig" class="btn btn-sm btn-block" id="@(Model.ItemsId.ToString() + "BevestigKnop")"/>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="DynamicAddCartRegionDefault height-150px" id="@(Model.ItemsId.ToString() + "default")">
                                            <p class="color-muted font-12"><i class="fa @Model.CategoryIcon"></i> @Model.CategoryName</p>
                                            <div class="price mb-20">
                                                <h2 class="price"> <i class="fa fa-credit-card-alt"></i> Giá  @Model.Price vnđ</h2>
                                            </div>
                                            <a onclick="DynamicAddCartRegion(@Model.ItemsId);" class="btn btn-block btn-lg wow pulse animated" data-wow-delay="1s" data-wow-iteration="2" data-wow-duration="1.5s">
                                                <i class="fa fa-shopping-cart font-16 mr-10"></i>
                                                Thêm vào giỏ
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="widget about-seller-widget panel ptb-30 prl-20">
                                    <h3 class="widget-title h-title text-center mb-20">Địa điểm</h3>
                                    <div class="widget-body t-center">
                                        <div style="height: 300px;" id="contact-map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <script>
        function initMap() {
            var positie = "@Model.FormatedAdress";
            var map = new google.maps.Map(document.getElementById('contact-map'), {
                zoom: 15
            });

            var geocoder = new google.maps.Geocoder();

            geocoder.geocode({
                'address': positie
            },
                function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var locatiecords = { lat: results[0].geometry.location.lat() + 0.0014, lng: (results[0].geometry.location.lng()) };

                        marker = new google.maps.Marker({
                            position: results[0].geometry.location,
                            map: map
                        });
                        map.setCenter(locatiecords);
                        var contentString = '<div class="col-xs-12"> <p class="font-18"> @Model.Name </p> <p class="font-14"> @Model.FormatedAdress </p> </div>';

                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });

                        marker.addListener('click', function () {
                            infowindow.open(map, marker);
                        });
                    }
                });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ0Qfa3jPba5djMOOwScpRT_EHqxDXHBc&callback=initMap">
    </script>
</main>
