@model Shop.Models.CheckoutViewModels.OrderQrViewModel

@using Shop.Models.Domain

﻿@{
    ViewData["Title"] = "Phiếu mua hàng";


}
<div class="bedankt panel mb-40">
    <form>
        <h2><strong>Chi tiết phiếu mua hàng</strong></h2>
        <h4><strong>Mặt hàng</strong></h4>
        <div class="form-group">
            <label class="col-sm-3 control-label">Mặt hàng:</label>
            <div class="col-sm-9">
                <label class="col-sm-9 control-label">@Model.ItemQr.Items.Name</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Mô tả:</label>
            <div class="col-sm-9">
                <label class="col-sm-9 control-label">@Model.ItemQr.Items.Description</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Giá :</label>
            <div class="col-sm-9">
                <label class="col-sm-9 control-label">@Model.ItemQr.Items.Price vnđ</label>
            </div>
        </div>

        <h4>
            <strong>Người mua hàng</strong>
        </h4>
        <div class="form-group">
            <label class="col-sm-3 control-label">Người mua hàng:</label>
            <div class="col-sm-9">
                <label class="col-sm-9 control-label">@Model.ItemQr.SenderName</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Điện Thoại:</label>
            <div class="col-sm-9">
                <label class="col-sm-9 control-label">@Model.ItemQr.SenderPhoneNumber</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-9">
                <label class="col-sm-9 control-label">@Model.ItemQr.SenderEmail</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Địa chỉ:</label>
            <div class="col-sm-9">
                <label class="col-sm-9 control-label">@Model.ItemQr.SenderAddress</label>
            </div>
        </div>
        <h4>
            <strong>Người nhận</strong>
        </h4>
        <div class="form-group">
            <label class="col-sm-3 control-label">tên người nhận:</label>
            <div class="col-sm-9">
                <label class="col-sm-9 control-label">@Model.ItemQr.RecipientName</label>
            </div>
        </div>
        @if (@Model.ItemQr.RecipientPhoneNumber != null)
        {
            <div class="form-group">
                <label class="col-sm-3 control-label">Số điện thoại:</label>
                <div class="col-sm-9">
                    <label class="col-sm-9 control-label">@Model.ItemQr.RecipientPhoneNumber</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email:</label>
                <div class="col-sm-9">
                    <label class="col-sm-9 control-label">@Model.ItemQr.RecipientEmail</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Địa chỉ:</label>
                <div class="col-sm-9">
                    <label class="col-sm-9 control-label">@Model.ItemQr.RecipientAddress</label>
                </div>
            </div>
        }
    </form>
</div>
