@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Đăng nhập";
    ViewData["Navbar"] = "Account";
}
<main id="mainContent" class="main-content">
    <div class="page-container ptb-60">
        <div class="container">
            <section class="sign-area panel p-40">
                <h3 class="sign-title">Meld aan <small>of <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="color-blue">Tạo tài khỏa</a></small></h3>
                <div class="row row-rl-0">
                    <div class="col-sm-6 col-md-7 col-left">
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="p-40">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="sr-only">Email</label>
                                <input asp-for="Email" type="text" class="form-control input-lg" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="sr-only">Mật khẩu</label>
                                <input asp-for="Password" type="password" class="form-control input-lg" placeholder="Mật khẩu">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <a asp-action="ForgotPassword" class="forgot-pass-link color-blue">Quên mật khẩu?</a>
                            </div>
                            <div class="custom-checkbox mb-20">
                                <input input asp-for="RememberMe" type="checkbox" id="remember_account" checked>
                                <label asp-for="RememberMe" class="color-mid" for="remember_account">Lưu đăng nhập</label>
                            </div>
                            <button type="submit" class="btn btn-block btn-lg">Đăng nhập</button>
                        </form>
                        <span class="or">hoặc</span>
                    </div>

                    <div class="col-sm-6 col-md-5 col-right">
                        <div class="social-login p-40">
                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div class="mb-20">
                                    <button type="submit" name="provider" value="Facebook" class="btn btn-lg btn-block btn-social btn-facebook"><i class="fab fa-facebook-square font-18"></i> Đăng ký với Facebook</button>
                                </div>
                            </form>
                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div class="mb-20">
                                    <button type="submit" name="provider" value="Twitter" class="btn btn-lg btn-block btn-social btn-twitter"><i class="fab fa-twitter font-18"></i> Đăng ký với Twitter</button>
                                </div>
                            </form>
                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div class="mb-20">
                                    <button type="submit" name="provider" value="Google" class="btn btn-lg btn-block btn-social btn-google-plus"><i class="fab fa-google-plus font-18"></i> Đăng ký với Google</button>
                                </div>
                            </form>
                            <div class="text-center color-mid hidden-xs">
                                <p>Chưa có tài khoản? <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="color-blue">Tạo tài khoản</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
